<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="TelerikLocal" value="C:\Users\admin\Desktop\Telerik.Collection.for.NET.2025.Q2\Telerik.NuGet.Packages.2025.Q2" />
  </packageSources>
</configuration>
